<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="//mall.htd.cn/static/icon/htd_logo.ico" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="<%=obj.description %>">
<meta name="keywords" content="<%=obj.keywords %>">
<title><%=obj.title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<style>        
    * {            
        margin: 0;            
        padding: 0;        
    }        
    img {            
        display: block;            
        width: 100%;            
        height: auto;        
    }
    body {
        background: url('<%=obj.bgImg %>')
    }
    .container {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    a {
        position: absolute;
    }
</style>
</head>
<body>
    <div class="container">
        <% obj.fileArrayOnline.forEach(function(url){ %>
            <img src="<%=url %>">
        <% }); %>
        <% obj.linkInfor.forEach(function(link){ %>
            <a href="<%=link.link %>" style="width:<%=link.width %>;height:<%=link.height %>;top:<%=link.y %>;left:<%=link.x %>"></a>
        <% }); %>
    </div>
    
</body>
</html>